/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.dn {
  display: none;
}

button,
a {
  position: relative;
}

img.loading {
  display: none;
  position: absolute;
}

.main {
  min-height: 600px;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i {
  font-size: 30px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child {
  margin-left: -15px;
}

.contactinfo ul li a {
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}


.contactinfo ul li a:hover {
  background: inherit;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding: 0px;
}


.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
  color: #fff;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover {
  background: #5BBCEC;
}

.fa-linkedin:hover {
  background: #FF4518;
}

.fa-dribbble:hover {
  background: #90C9DC;
}

.fa-google-plus:hover {
  background: #CE3C2D;
}

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right: 0;
}

.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 10px;
}

.usa:hover {
  background: #FE980F;
  color: #fff;
  border-color: #FE980F;
}

.usa:active,
.usa.active {
  background: none repeat scroll 0 0 #FE980F;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background-color: #FE980F;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


.shop-menu ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  background: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i {
  margin-right: 3px;
}


.shop-menu ul li a:hover {
  color: #fe980f;
  background: #fff;
}


.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse {
  padding-left: 0;
}

.mainmenu ul li {
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child {
  padding-left: 0px;
}

.mainmenu ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 10px;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active,
.shop-menu ul li a.active {
  background: none;
  color: #fdb45e;
}



/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
  background-color: #fff;
}


.nav.navbar-nav>li:hover>ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.dropdown ul.sub-menu li .active {
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li {
  padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
  color: #FDB45E;
}

.fa-angle-down {
  padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*************************
*******Footer CSS******
**************************/

#footer {
  background: #F0F0E9;
}

.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

/*************************
*******login page CSS******
**************************/

#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form {}

.signup-form {}

.login-form h2,
.signup-form h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form input,
.signup-form select,
.signup-form input,
.signup-form button {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form .btn {
  width: 100%;
}

.login-form button img.loading {
  width: 24px;
  top: 5px;
  left: -33px;
}

.register-form button img.loading {
  width: 24px;
  top: 5px;
  left: -33px;
}

.login-form .btn:hover,
.login-form .btn:active,
.login-form .btn:focus {
  background: #fe980fb8;
}

.login-form form span {
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.w-admin-articles button.article-send,
.w-admin-articles button.articles-get-more,
.w-articles button.articles-get-more,
.login-form form button,
.signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.login-form label {}


.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


/* .btn.btn-primary {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  margin-top: 16px;
} */



.error {
  color: red;
}

.success {
  color: limegreen;
}

/*************************
*****Gadaniya page CSS****
**************************/
.w-g .gadaniya {
  position: relative;
}

.w-g .gadaniya .click-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all .3s;
}

.w-g .gadaniya .click-layer:hover {
  background: rgba(243, 243, 243, .5);
}

.w-g .geks {
  border: 3px solid rgba(231, 146, 0, 1);
  border-radius: 10px;
  padding: 0;
  margin: 0;
  height: 225px;
}

.w-g .geks li {
  margin-top: 10px;
}

.w-g .gadaniya img.loading {
  right: -35px;
  bottom: 0;
}

.w-g .geks-generation .gq-errors {
  color: red;
  margin-top: 10px;
}

/*************************
*******Geks page CSS******
**************************/
.w-geks .list-geks li {
  float: left;
  width: 20%;
  margin-bottom: 25px;
  text-align: center;
  transition: all .3s;
}

.w-geks .list-geks li:hover {
  background-color: rgba(231, 231, 231, .9);
}

.w-geks .list-geks li .imgs-geks img {
  width: 70%;
  margin-bottom: 10px;
  opacity: .7;
}

@media(max-width: 990px) {
  .w-geks .list-geks li .imgs-geks img {
    margin-bottom: 0;
  }
}

@media(max-width: 990px) {
  .w-geks .list-geks li .imgs-geks img {
    margin-bottom: 0;
  }
}

.w-geks .geks-info .g-imgs img {
  margin-bottom: 10px;
  opacity: .7;
}

.w-geks .geks-info .g-imgs {
  text-align: center;
  width: min-content;
  margin: 0 auto;
}

.w-articles button.articles-get-more img.loading,
.w-admin-articles button.articles-get-more img.loading,
.w-admin-articles button.article-send img.loading {
  top: 2px;
  right: -35px;
}

/*
==========================================================================
               Страица новостей
==========================================================================
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.w-articles .baha1493 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 250px;
  max-width: 290px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.w-articles .baha1493 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.w-articles .baha1493:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #d2652d;
  content: '';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.w-articles .baha1493 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.w-articles .baha1493 figcaption {
  padding: 20px 20px 30px;
  background-color: #ffffff;
}

.w-articles .baha1493 .date {
  background-color: #d2652d;
  top: 15px;
  color: #fff;
  right: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}

.w-articles .baha1493 .date span {
  display: block;
  line-height: 14px;
}

.baha1493 .date .month {
  font-size: 11px;
}

.w-articles .baha1493 h3,
.w-articles .baha1493 p {
  margin: 0;
  padding: 0;
}

.w-articles .baha1493 h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.w-articles .baha1493 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.w-articles .baha1493 footer {
  padding: 0 25px;
  color: #999999;
  font-size: 0.8em;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.w-articles .baha1493 footer>div {
  display: inline-block;
  margin-right: 15px;
}

.w-articles .baha1493 footer i {
  margin-right: 5px;
  font-size: 1.2em;
}

.w-articles .baha1493 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.w-articles .baha1493:hover:after,
.w-articles .baha1493.hover:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.w-admin-articles .back-page.bp-top,
.w-articles .back-page.bp-top {
  margin-bottom: 50px;
}

.w-articles .back-page.bp-bottom {
  margin-top: 50px;
}

.w-articles .article-text-list {
  height: 100px;
}

.w-articles .article-statistics {
  background-color: white;
}

.w-admin-articles .articles-get-more,
.w-articles .articles-get-more {
  margin: 30px auto 0;
}

.no-drop {
  cursor: no-drop !important;
  background: rgba(254, 152, 15, .6) !important;
}

.w-admin-articles .article-item th,
.w-admin-articles .article-item td {
  vertical-align: inherit;
}

.w-admin-articles .fa-times {
  outline: 1px solid;
  padding: 8px 10px;
  font-size: 12px;
  background: rgba(254, 15, 15, .5);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
}

.w-admin-articles .fa-times:hover {
  background: rgba(254, 15, 15, .9);
}

.w-admin-articles .modal-confirm-article-delete img.loading {
  top: 3px;
  left: -100px;
}